* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

nav ul,
.main-info-section,
.work-category {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.body {
  background-color: #c3d1f1;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
  width: 100%;
}

.navbar {
  background-color: aquamarine;
}

header h1,
header a,
.text p,
.about h1,
.work h1,
.contact h1 {
  color: #e3a3f8;
}

li {
    list-style: none;
    margin-left: 30px;
    
}
nav li a {
    text-decoration: none;
    font-size: 1.9rem;
    transform: translateY(0);
    color: #7ab3ed;
}
a {
    text-decoration: none;
    font-size: .9rem;
    text-transform: uppercase;
    position: relative;
    top: 50%;
    bottom: 50%;
    transform:translateY(-50%) ;
}
.socialLinks a {
    transform: translateY(0);
    color: #212529;
    text-decoration: none;
}
.main-info-section {
    height: calc(100vh - 81.6px);
}

.text {
    /* margin-top: 120px; */
    margin-top: 5rem;
}

.text h1 {
    color: #fff;
    font-size: 3rem;
    cursor: context-menu;
}

.text span {
    display: inline-block;
}

span {
    /* cursor: pointer; */
    cursor: context-menu;
}
span:hover {
    color: #48CFAD;
    transition: all .5s
}

span.name {
    color: rgb(182, 86, 102)
}

span.m-left {
    margin-left: -10px;
}

.text p {
    letter-spacing: 3px;
    word-spacing: 10px;
    font-size: .8rem;
}

.text a {
    padding: 12px 25px;
    background-color: none;
    border: 3px solid #ED5565;
    color: #ED5565;
    font-size: .8rem;
    letter-spacing: 2px;
    position: relative;
    top: 80px;
    overflow: hidden;
    transition: .5s;
    display: inline-block;
}

text a:hover {
    color: rgb(98, 235, 120);
}

.text a::before {
    content: '';
    background-color: #ED5565;
    position: absolute;
    left:0;
    top: 0;
    width: 100%;
    height: 0%;
    z-index: -1;
    transition: .5s;
}

.text a:hover::before {
    height: 100%;
}

.profile-image img {
    border-radius: 50%;
    width: 20rem;
}

.about {
    /* height: 100vh; */
    margin-top: 100px;
}

.about h1,
.work h1 {
 font-size: 10rem;
 z-index: 0;
 opacity: .1;   
}

.about-me-info {
    max-width: 900px;
    background-color: #252627;
    box-shadow: 0 0 1.2rem rgba(0,0,0,.25);
    padding: 50px;
    position: relative;
    top: -70px;
    left: 50%;
    right: 50%;
    transform: translate(-50%);
    z-index: 1;
}

.about-me-info p {
    font-size: 1.3rem;
    color: #bfbfbf;
    
}

.about-me-info p:nth-child(2),
.about-me-info p:last-child {
    margin-top:  30px;
}
 .lake {
    width: 300px;
    position: relative;
    /* top: -300px; */
    /* left: calc(100% - 100px);
    right: calc(100% - 100px); */
    transform: translateX(calc(-100% + 100px));
}
.face {
    width: 196px;
    position: relative;
    /* top: -63px; */
    left: calc(100% - 426px);
    right: calc(100% - 100px);
}

.skills h1,
.contact h1 {
    text-align: right;
    font-size: 10rem;
    opacity: .1;
    margin-right: 9rem;
}
#contact{
    height: 6rem;
}

.skills-info {
    font-size: 1.4rem;
    color: #295081;
    max-width: 800px;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-bottom: 50px;
}
.skills a {
    font-size: 2rem;
}

.html {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

/* div[class^='tag-'] {
    clip-path: polygon((75% 0, 100% 50%, 75% 100%, 0% 100%, 0% 50%, 0% 0%));
    width: 120px;
    height: 30px;
    background-color: #1785A7;
    margin-right: 30px;
} */

/* div[class^='tag-'] p {
    color: #fff;
    text-align: left;
    padding-left: 10px;
    font-size: 1.1rem;
    padding-top: 3px;
} */



/* div[class^='bar-'] {
    position: absolute; 
    background-color: #48cfad;
    height: 10px;
    border-radius: 20px;
    margin: 2.7px;
} */

.bar-html,
.bar-javascript,
.bar-react,
.bar-native,
.bar-Csharp,
.bar-blazor {
    width: calc(0-6px);
}

.workNavTabItem{
    color: #4a4af4;
    text-decoration: none;
    text-align: center;
    font-size: 3rem;
    background: #b8c6e5;
    border-radius: 30px;
    width: 10rem;
}

.work-category button {
    text-transform: capitalize;
    border: 3px solid #ED5565;
    padding: 15px 30px;
    border-radius: 50px;
    color:  #ED5565;
    font-size: 1.1rem;
    letter-spacing: 1px;
    background-color: #252627;
    outline: none;
    cursor: pointer;
}

div[class^='category-'] {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 20px;
}

.work a {
    /* justify-self: center;
    position: relative; */
    margin-left: auto;
    display: inline-flex;
    font-size: 1.5rem;
    text-decoration: none;
}

.work-category .active {
    background-color: #d5565d;
}

button.active {
    color: #fff
}

.work a img {
    width: 350px;
    justify-self: center;
}
/* + 3 line number */
div.hideCategory {
    display: none;
}
.work #design a {
    transform: translateY(0px);
    color: #4a4af4;
}

#myWork .card-body p {
    background-color: #e5f2fe;
} 
.showCategory {
    display: block;
}

.contact {
    margin-top: 50px;
}

form input,
form textarea {
    display: block;
    widows: 500px;
    padding: 20px;
    background-color: #252627;
    border: 3px solid #707070;
    margin: 20px 0;
    outline: none;
    font-size: 1.2rem;
    color: #fff;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
}

form input:last-child {
    width: 150px;
    background-color: #ED5565;
    border: none;
    cursor: pointer;
}
footer hr {
    border: 2px solid #707070;
    margin-top: 80px;
}

footer p {
    text-align: center;
    color: #707070;
    font-size: 1.2rem;
    padding: 30px 0;
}

















/* old stuff below */

.topLevelDiv {
  background-color: rgb(206, 228, 243);
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  width: 40rem;
}

.greeting {
  color: yellow;
  margin: 1rem;
}

.myName {
  size: 2rem;
  color: rgb(8, 8, 97);
  box-shadow: black;
}


